 <style>
h4 {
    position: relative;
}
.icons {
    position: absolute;
    right: 5px;
}
</style>
<div class="card">
    <div class="card-body">
            <h4>{{ note.title }}
                <span class="badge badge-{{ note.get_labels_display }}">
                {{ note.due_date }}
                </span>
                <span class="icons">
                {% if type == "DELETE" %}
                <a href="{% url 'finish-note-item' note_snippet_var.id %}"><i class="fas fa-check" style="color:darkslategrey"></i></a>
                {% else %}
                <a href="{% url 'recover-note-item' note_snippet_var.id %}"><i class="fas fa-times" style="color:darkslategrey"></i></a>
                {% endif %}
                 <a href="{% url 'delete-note-item' note_snippet_var.id %}"><i class="fas fa-trash" style="color:#ff0000"></i></a>
                </span>
            </h4>
    </div>
</div>